@charset "utf-8";
@import url('font/quicksand.css');

/*#region ユニバーサルセレクタ */
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
/*#endregion */

/*#region Root */
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

html {
    /*overflow: auto;*/
    /*height: 100%;*/
}

body {
    /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
    font-family: "Meiryo UI","ＭＳ Ｐゴシック","quicksand", "MS PGothic", "sans-serif";
    font-size: 80%;
    /*min-height: 100vh;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 40px;
    display: flex;
    height: 100%;
    flex-direction: column;*/
}


/*#endregion */

/*#region Common */

.clear {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
}

p, li, dt, dl {
    line-height: 1.6;
}

p {
    margin: 0 0 1em 0;
}

li {
    list-style-type: none;
}

img {
    border: 0;
}

address {
    font-style: normal;
}


header {
    /*height: 53px;*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    background-color: rgb(66, 107, 239);
    background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 70%);
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}

.content {
    /*display: flex;
    height: 100%;
    z-index: 1;*/
    height: 100vh;
    overflow: scroll;
    /*margin-top: 53px;*/
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
}

/*#endregion */

/*#region Navigator */

.logo {
    width: 8rem;
    margin-right: 1rem;
}

.nav-container {
    display: flex;
}

.nav-tab {
    margin: 0;
    padding: 0.3rem 1.8rem;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: white;
    position: relative;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

    .nav-tab:hover {
        color: white;
        text-decoration: none;
        background-color: rgba(255,255,255,0.3);
    }

    .nav-tab.active {
        background-color: rgba(255,255,255,0.2);
        color: white;
    }

    .nav-tab img {
        height: 2rem;
        margin-bottom: 0.25rem;
    }

    .nav-tab.active img {
        filter: brightness(0) saturate(100%) invert(93%) sepia(18%) saturate(797%) hue-rotate(316deg) brightness(109%) contrast(101%);
    }

.user-info {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .user-info img {
        margin-right: 0.7rem;
        width: 2.6rem;
    }

    .user-info .username {
        display: block;
        font-weight: 700;
        line-height: 0.7rem;
        margin-top: 0.5rem;
    }

    .user-info a {
        color: #fff2cc;
        font-size: 0.8rem;
    }

a.sign-in {
    background: none;
    border: 1.5px solid white;
    border-radius: 0.7em;
    color: white;
    text-transform: uppercase;
    padding: 0.2rem 0.8rem 0.1rem 0.8rem;
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
    font-weight: 100;
    cursor: pointer;
    transition: 0.2s ease-out;
}

    a.sign-in:hover {
        background-color: rgba(255,255,255,0.3);
        color: #fff2cc;
        border-color: #fff2cc;
    }

.user-info a.sign-out {
    color: #fff2cc;
    font-size: 0.8rem;
    cursor: pointer;
}

    .user-info a.sign-out:hover {
        text-decoration: underline;
    }

/*#endregion */

/*#region Repos Form */

.form-field {
    display: flex;
    margin: 0.5rem;
}

    .form-field > label {
        width: 8rem;
    }

    .form-field > div {
        flex-grow: 1;
    }

    .form-field input {
        width: 100%;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@keyframes progressbar-slide {
    0% {
        transform: translateX(-200px);
    }

    70% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(500px);
    }
}

/*#endregion */

/*#region LoginForm */

.card-signin {
    border: 0;
    /*border-radius: 1rem;*/
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

.form-signin {
    width: 100%;
}

    .form-signin .btn {
        font-size: 80%;
        /*border-radius: 5rem;*/
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input {
        height: auto;
        /*border-radius: 2rem;*/
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        /*border-radius: .25rem;*/
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
        }

/*#endregion */

/*#region MastaSection */

.f-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.mastalist {
    display: table;
    width: 100%;
}

    ul.mastalist > li:nth-child(2n+1) {
        clear: both;
    }

    ul.mastalist > li {
        display: table-cell;
        float: left;
        width: 50%;
    }

/*#endregion */

/*#region MenuSteps */

.menu-steps {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}

#pointerframe {
    width: auto;
    min-width: 180px;
    height: 40px;
    line-height: 40px;
    background: red;
    position: relative;
    margin-right: -10px;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    box-shadow: 0 3px 1px rgba(0,0,0,0.4);
    transition: 0.1s ease-out;
}

    #pointerframe:hover {
        opacity: 0.7;
    }

    #pointerframe.active {
        opacity: 0.7;
    }

    #pointerframe a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        color: black;
        text-decoration: none;
    }

/*#endregion */

/*#region LoadingBar */

.loading-bar {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 250px);
    width: 500px;
    height: 6px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

    .loading-bar::after {
        content: '';
        display: block;
        width: 200px;
        height: 100%;
        background-color: #dc105a;
        animation: progressbar-slide 1s infinite;
        animation-timing-function: ease-in-out;
    }

h1.loader {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 4.6875em;
    color: transparent;
    letter-spacing: 0.01em;
}

.loader span {
    text-shadow: 0 0 2px rgba(204, 208, 212,0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
    animation: loading 0.85s ease-in-out infinite alternate;
}

@keyframes loading {
    to {
        text-shadow: 0 0 2px rgba(204, 208, 212,0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
    }
}

.loader span:nth-child(2) {
    animation-delay: 0.15s;
}

.loader span:nth-child(3) {
    animation-delay: 0.30s;
}

.loader span:nth-child(4) {
    animation-delay: 0.45s;
}

.loader span:nth-child(5) {
    animation-delay: 0.60s;
}

.loader span:nth-child(6) {
    animation-delay: 0.75s;
}

.loader span:nth-child(7) {
    animation-delay: 0.90s;
}
/*#endregion */

/*#region tableDesign main/contentでくくると動作しない */
/*#datagridview {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "title" "nav" "content";
}

.dgv-title {
    grid-area: title;
}

.dgv-nav {
    grid-area: nav;
}

.table-scroll-host {
    grid-area: content;
    overflow: scroll;
}

table th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}

table {
    width: auto;
    min-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table td, th {
    min-width: 100px;
}

    table th:nth-child(1) {
        position: sticky;
        left: 0;
        z-index: 2;
        width: 50px;
    }

    table td:nth-child(1) {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: white;
        width: 50px;
    }

    table th:nth-child(2) {
        position: sticky;
        left: 50px;
        z-index: 2;
        width: 50px;
    }

    table td:nth-child(2) {
        position: sticky;
        left: 50px;
        z-index: 1;
        background-color: white;
        width: 50px;
    }*/
/*#endregion */
