<div class="menu-steps">
    <div>開始</div>
    @foreach (var item in menuList)
    {
        <div id="pointerframe">
            <a href=@item.Refpage style="z-index:@item.Step;">@item.Name</a>
        </div>
    }
    <div style="margin-left:20px;">終了</div>
</div>

@code{
    public class MenuStep
    {
        public string Name { get; set; }
        public string Refpage { get; set; }
        public int Step { get; set; }
        public bool Visibled { get; set; }

        public MenuStep(string name, string refpage, int step, bool visibled)
        {
            Name = name;
            Refpage = refpage;
            Step = step;
            Visibled = visibled;

        }
    }

    List<MenuStep> menuList = new List<MenuStep>
{
                new MenuStep("TOP","counter",900,true),
                new MenuStep("年初の入力","counter",800,true),
                new MenuStep("月初の入力","counter",700,true),
                new MenuStep("日々の実績入力","counter",600,true),
                new MenuStep("工数管理グラフ","counter",500,true),

            };
}