@page "/people/create"
@inject HttpClient http
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>People/Create</h3>

<PersonForm ButtonText="Create Person" Person="@person" OnValidSubmit="@CreatePerson"/>


@code {
    Person person = new Person();

    protected override async Task OnInitializedAsync()
    {
        await CreatePerson();
    }

    async Task CreatePerson()
    {
        await http.PostJsonAsync("api/people",person);
        NavigationManager.NavigateTo("people");
    }
}
